@{
    Layout = null;
}
<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <script src="~/Scripts/jQuery/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap/js/bootstrap.min.js"></script>
    <link href="~/Scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="~/Scripts/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <link href="~/Scripts/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" />
    @*<script src="~/Scripts/MutiChoose.js"></script>*@
    <script>
        $(function () {
            //1.初始化Table
            var oTable = new TableInit();
            oTable.Init();

            //2.初始化Button的点击事件
            var oButtonInit = new ButtonInit();
                $("#btn_add").click(function () {
                oButtonInit.Add();
            });
                $("#btn_delete").click(function () {
                oButtonInit.Delete();
            });
                $("#btn_deleteone").click(function () {
                oButtonInit.DeleteOne();
            });            
                $("#btn_edit").click(function () {
                oButtonInit.Edit();
            });

            //按钮点击事件
            });


            var TableInit = function () {
            var oTableInit = new Object();
            //初始化Table
            oTableInit.Init = function () {
                $('#user').bootstrapTable({
                    url: '../Home/GetList',         //请求后台的URL（*）
                    method: 'post',                      //请求方式（*）
                    toolbar: '#toolbar',                //工具按钮用哪个容器
                    striped: true,                      //是否显示行间隔色
                    cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                    pagination: true,                   //是否显示分页（*）
                    sortable: true,                     //是否启用排序
                    sortName: "Sort",
                    sortOrder: "asc",                   //排序方式
                    queryParams: oTableInit.queryParams,//传递参数（*）
                    sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                    pageNumber: 1,                       //初始化加载第一页，默认第一页
                    pageSize: 10,                       //每页的记录行数（*）
                    pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                    //search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                    strictSearch: true,
                    showColumns: true,                  //是否显示所有的列
                    showRefresh: true,                  //是否显示刷新按钮
                    minimumCountColumns: 2,             //最少允许的列数
                    clickToSelect: true,                //是否启用点击选中行
                    //height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                    uniqueId: "Name",                     //每一行的唯一标识，一般为主键列
                    showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
                    cardView: false,                    //是否显示详细视图
                    detailView: false,                   //是否显示父子表
                    columns: [{
                        checkbox: true
                    }, {
                            field: '_id',
                            title: 'ID',
                        },{
                            field: 'Name',
                            title: '姓名',
                    }, {
                            field: 'Sex',
                            title: '性别',
                    }, {
                            field: 'Age',
                            title: '年龄',
                    }, {
                            field: 'extra',
                            title: '额外信息',
                    },  ]
                });
            };

            //得到查询的参数
            oTableInit.queryParams = function (params) {
                var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                    limit: params.limit,   //页面大小
                    offset: params.offset,  //页码
                    departmentname: $("#txt_search_departmentname").val(),
                    statu: $("#txt_search_statu").val()
                };
                return temp;
            };
            return oTableInit;


            };

            var ButtonInit = function () {
                var oInit = new Object();
                var postdata = {};

                oInit.Init = function () {
                //初始化页面上面的按钮事件
                };
                oInit.Add = function () {
                    $.ajax({
                        url: "../Home/AddOne",
                        type: "Post",
                        data: "Name=Add&Age=18&Sex=UnKnow&extra=Mystery",
                        dataType: "json",
                        success: function (data) {
                            if (data.tag == true) {
                                alert("成功");
                            }
                            else {
                                alert("失败");
                            }
                        }
                    });
                };
                oInit.Delete = function () {
                    window.parent.frameReturnByClose();
                };

                oInit.DeleteOne = function () {
                    var rows = $('#user').bootstrapTable('getSelections');      
                    if (rows.length != 1)
                        return;
                    $.ajax({
                        url: "../Home/DeleteOne",
                        type: "Post",
                        data: rows[0],
                        dataType: "json",
                        success: function (data) {
                            if (data.tag == true) {
                                alert("成功");
                            }
                            else {
                                alert("失败");
                            }
                        }
                    });
                };
                oInit.Edit = function () {
                    //
                };
                return oInit;
            };

    </script>
</head>
<body>
    <div id="toolbar" class="btn-group">
        <button id="btn_add" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加
        </button>
        <button id="btn_delete" type="button" class="btn btn-default">
            <span class="	glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>删除
        </button>
        <button id="btn_deleteone" type="button" class="btn btn-default">
            <span class="	glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>删除一条
        </button>
        <button id="btn_edit" type="button" class="btn btn-default">
            <span class="	glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>编辑
        </button>
    </div>
    <table id="user"></table>
    <div class="modal fade" id="ModuleModal">
        <div class="modal-dialog" style="width:800px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="NoPermissionModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <iframe id="Moduleiframe" width="100%" height="50%" frameborder="0" style="height:400px;overflow:auto; "></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default " data-dismiss="modal">    关  闭    </button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>